html {
	background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url("images/seats3.jpg");;
	background-size: cover;
	height: 100%;
}

.text {
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 10px;
	font-family: 'Josefin Slab', helvetica;
	color: white;
}

#center {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.counter {
	width: 33.333%;
	min-width: 286px;
	max-width: 400px;
	margin: 15% auto 30px auto;
	padding: 0 0 10px 0;
	border-bottom: 2px solid white;
	text-align: center;
	float: left;
}

#logo-container {
	width: 900px;
	margin: 0 auto;
}

.logo {
	width: 59px;
	margin: 0;
	display: inline-block;
	float: left;
	margin: 7px 0;
	opacity: .4;
}

.logo:hover {
	cursor: pointer;
	opacity: 1;
}

/*MEDIA QUERIES*/
@media (max-width: 899px) {
	.counter {
		float: none;
		display: block;
		margin: 40px auto;
	}

	#pitchers {
		margin-top: 6%;
	}

	#logo-container {
		width: 300px;
	}

	.logo {
		opacity: 1;
	}
}
