html {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/seats3.jpg");;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.text {
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 10px;
	font-family: 'Josefin Slab', helvetica;
	color: white;
}

#center {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.counter {
	width: 33.333%;
	min-width: 286px;
	max-width: 400px;
	margin: 15% auto 0 auto;
	padding: 0 0 10px 0;
	border-bottom: 2px solid white;
	text-align: center;
	float: left;
}

/*MEDIA QUERIES*/
@media (max-width: 899px) {
	.counter {
		float: none;
		display: block;
		margin: 40px auto;
	}

	#pitchers {
		margin-top: 10%;
	}
}
